<h3>Estadísticas de Quiz</h3>
<dl>
  <dd>Nº total de preguntas: <%= stats.nQuestions %></dd>
  <dd>Nº total de comentarios: <%= stats.nComments %></dd>
  <dd>Meida de comentarios por pregunta: <%= stats.avgComments %></dd>
  <dd>Nº de preguntas con comentarios: <%= stats.withComments %></dd>
  <dd>Nº de preguntas sin comentarios: <%= stats.withoutComments %></dd>
</dl>
